[user]
	email = ganghe74@gmail.com
	name = ganghe74
	signingkey = 804158AF35BE6B54
[push]
	default = simple
[color]
	ui = auto
[core]
	quotepath = off
	editor = nvim
[commit]
	gpgsign = true
[gpg]
	program = gpg
